<!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              SQUIRREL 2017 &copy; CIDES Todos los derechos reservadors.
              <a href="#" class="go-top">
                  <i class="icon-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->